.registration__header {
    align-self: flex-start;
    margin: 0;
}

.registration__title {
    margin: 0;
    color: var(--color-text-blue);
    font-weight: var(--font-weight-title);
    font-size: var(--font-size-title-h2);
    font-family: var(--font-family-main);
    line-height: 48px;
}

.registration__message {
    margin: 0;
    font-weight: var(--font-weight-text);
    font-size: var(--font-size-secondary-text);
    line-height: 19.5px;
}

.registration__link {
    padding-left: 4px;
    color: var(--color-accent-dark-yellow);
}

.registration__form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    margin-top: 5px;
}

.registration__form__button {
    height: 40px;
    margin-top: 5px;
}

.registration__form > div:nth-child(4) > label > button {
    top: 50px;
}
