.edit__section_wrapper {
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px;
}

.editor_sidebar__nav {
    width: 100%;
    max-width: 400px;
    border-radius: 15px;
}
