$layout-breakpoint-small: 768px;

.profile__delete {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

@media only screen and (max-device-width: $layout-breakpoint-small) {
    .profile__delete {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
}

.profile__delete__actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.profile__delete__actions p {
    color: red;
    font-weight: 600;
}
