.edit__section_wrapper {
    justify-content: space-between;
    width: 100%;
    max-width: 1220px;
    margin: 0 auto;
    padding: 20px;
}

.editor_sidebar__nav {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border-radius: 15px;
}

.output__button {
    width: 100%;
    max-width: 1000px;
    padding: 20px;
    color: var(--color-white);
    border: 1px solid var(--color-white);
    transition: all 0.3s ease;
}

.output__button:hover {
    color: var(--color-white);
    background-color: var(--color-accent-dark-yellow);
}

.editor_sidebar__checkbox {
    color: var(--color-white);
}

.editor_sidebar__item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.editor_sidebar__item_customize {
    margin-left: 30px;
    text-align: left;
}

.editor_sidebar__customize_list_container {
    display: flex;
}

.editor_sidebar__customize_list_container::before {
    display: inline-block;
    width: 5px;
    margin-right: 10px;
    background-color: var(--color-accent-dark-yellow);
    border-radius: 50px;
    content: "";
}

.editor_sidebar__color_picker {
    height: 20%;
    padding: 5px;
}
