.label {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 280px;
}

.input {
    height: 37px;
    padding: 12px;
    color: #434c66;
    font-size: 14px;
    line-height: 20px;
    background: #ebeff1;
    border: none;
    border-radius: 51px;
}

.input:focus {
    color: #302e36;
    outline: none;
}

.input:focus::placeholder {
    color: #302e36;
}

.error {
    color: #302e36;
    border: 1px solid #ff5757;
}

.error::placeholder {
    color: #302e36;
}

.disabled {
    color: #ccd7dc;
}

.disabled::placeholder {
    color: #ccd7dc;
}

.filled {
    color: #302e36;
    border: 1px solid #768fbe;
}

.errorText {
    position: absolute;
    right: 0;
    bottom: -18px;
    color: #ff5757;
    font-size: 12px;
    text-align: right;
}

.labelName {
    margin-bottom: 13px;
    color: #313134;
    font-weight: 500;
    line-height: 16px;
}
