.container {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #848d96;
}

.text {
    transition: color 0.3s;
}

.container:has(.checkbox:checked) > .text {
    color: #1d2433;
}

.checkmark_container {
    position: relative;
    width: 16px;
    height: 16px;
}

.checkmark {
    position: absolute;
    top: 4px;
    left: 3px;
    width: 10px;
    height: 8px;
    color: white;
    opacity: 0;
    transition: 0.3s;
}

.checkbox {
    width: 16px;
    height: 16px;
    margin: 0;
    border: 2px solid #ccd7dc;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    appearance: none;
}

.checkbox:checked {
    background-color: #dbae2d;
    border-color: #dbae2d;
}

.checkbox:checked + .checkmark {
    opacity: 1;
}

