.preview {
    display: flex;
    flex-direction: column;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.example {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: rgb(157 168 255);
}
