.preview {
    display: flex;
    flex-direction: column;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.example {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: rgb(157 168 255);
}

.tooltip_small_example_container {
    width: 10px;
    height: 10px;
    background-color: red;
}

.tooltip_big_example_container {
    width: 100px;
    height: 100px;
    background-color: blue;
}

.auth {
    height: 100vh;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 200px;
}

.progress_preview_container {
    display: flex;
    justify-content: space-around;
    gap: 10%;
    padding: 50px 100px;
    background-color: var(--color-background-dark-blue);
}

.text_editor_preview_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 720px;
    max-height: 500px;
    margin: 0 auto;
    padding: 20px;
}

.spinner_preview_container {
    margin: 0 auto;
    padding: 20px;
}

.footer__actions {
    display: flex;
    gap: 10px;
}

.dropdown {
    max-width: 250px;
}
