$layout-breakpoint-small: 768px;

.profile__content {
    width: 100%;
    margin-bottom: 28px;
}

.profile__card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 24px 40px;
    background-color: white;
    border: 1px solid #687A9C;
    border-radius: 12px;
}

@media only screen and (max-width: $layout-breakpoint-small) {
    .profile__card {
        flex-direction: column;
        align-items: flex-start;
    }
}

.profile__card__title {
    margin-bottom: 8px;
    margin-left: 40px;
    text-transform: uppercase;
}

@media only screen and (max-device-width: $layout-breakpoint-small) {
    .profile__card__title {
        margin-left: 20px;
    }
}

.profile__card__title span {
    color: #848D96;
    font-weight: 400;
    font-size: 14px;
    font-family: Poppins, sans-serif;
    line-height: 20px;
}

@media only screen and (max-device-width: $layout-breakpoint-small) {
    .profile__card__title span {
        font-size: 12px;
        line-height: 16px;
    }
}

.profile__card__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

@media only screen and (max-device-width: $layout-breakpoint-small) {
    .profile__card__content {
        align-items: flex-start;
    }
}
