.option {
    padding: 8.5px 12px;
    color: #302e36;
    font-size: 14px;
    text-align: left;
    background-color: #ebeff1;
    cursor: pointer;
}

.option:hover {
    background-color: rgb(118 143 190 / 0.2%);
}
