.width__full {
    width: 100%;
}

.width__default {
    width: auto;
}

.button__base {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    min-height: 16px;
    margin: 0;
    padding: 8px 24px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    vertical-align: baseline;
    border: 1px solid var(--black);
    border-radius: 12px;
    cursor: pointer;
}

.button__base:hover {
    color: #3b3a3a;
}

.button__base:disabled {
    pointer-events: none;
    cursor: not-allowed;
}

.size__small {
    gap: 4px;
    height: 32px;
    padding: 4px 16px;
    font-size: 14px;
    line-height: 20px;
}

.size__medium {
    gap: 8px;
    height: 54px;
    padding: 8px 24px;
}

.button__primary {
    color: var(--white);
    font-weight: 600;
    background-color: var(--gray-1);
    border: none;
    border-radius: 52px;
}

.button__primary:hover {
    color: var(--white);
    background-color: var(--gray-6);
}

.button__primary:disabled {
    background-color: var(--gray-2);
}

.button__outlined {
    color: var(--gray-1);
    font-weight: 600;
    background-color: transparent;
    border: 1px solid var(--gray-1);
    border-radius: 52px;
}

.button__outlined:hover {
    color: var(--gray-6);
    border: 1px solid var(--gray-6);
}

.button__outlined:disabled {
    color: var(--white);
    background-color: var(--gray-2);
    border: none;
}

.button__ghost {
    color: var(--gray-1);
    font-weight: 600;
    background-color: transparent;
    border: none;
}

.button__ghost:hover {
    color: var(--gray-6);
}

.button__ghost:disabled {
    color: var(--gray-2);
}

.button__orange,
.button__orange:hover,
.button__orange:disabled {
    width: 48px;
    height: 48px;
    padding: 0;
    color: var(--white);
    line-height: 50px;
    background: var(--yellow-4);
    border: none;
    border-radius: 9px;
    outline: none;
    cursor: pointer;
}
