.template_block {
    position: relative;
    width: 100%;
    height: 100%;
}

.dragging {
    opacity: 0.5;
}

.block__placeholder {
    padding-bottom: 5px;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
}
