.button__base {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    min-height: 16px;
    margin: 0;
    padding: 8px 24px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    vertical-align: baseline;
    border-radius: 52px;
    cursor: pointer;
}

.button__base:hover {
    color: #3b3a3a;
}

.button__base:disabled {
    pointer-events: none;
    cursor: not-allowed;
}

.button__primary {
    color: var(--white);
    background-color: var(--gray-1);
}

.button__primary:hover {
    color: var(--white);
    background-color: var(--gray-6);
}

.button__primary:disabled {
    background-color: var(--gray-2);
}

.button__outlined {
    color: var(--gray-1);
    background-color: transparent;
    border: 1px solid var(--gray-1);
}

.button__outlined:hover {
    color: var(--gray-6);
    border: 1px solid var(--gray-6);
}

.button__outlined:disabled {
    color: var(--white);
    background-color: var(--gray-2);
    border: none;
}

.button__ghost {
    color: var(--gray-1);
    background-color: transparent;
    border: none;
}

.button__ghost:hover {
    color: var(--gray-6);
}

.button__ghost:disabled {
    color: var(--gray-2);
}

.size__small {
    gap: 4px;
    height: 32px;
    padding: 4px 16px;
    font-size: 14px;
    line-height: 20px;
}

.size__medium {
    gap: 8px;
    height: 54px;
    padding: 8px 24px;
}

.fluid {
    width: 100%;
}
