.modal__cancel__button {
    align-self: end;
    width: 40%;
    padding: 13px 24px 13px 20px;
    color: var(--color-white);
    font-weight: var(--font-weight-title);
    font-size: 18px;
    line-height: 22px;
    background-color: var(--color-button-blue);
    border-radius: 4px;
}

.resume__overview {
    margin: 16px 0;
    letter-spacing: 1px;
}

.resume__score__wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
}

.resume__score {
    color: var(--color-accent-green);
}

.modal__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
    height: 100%;
}
