.payment_page {
    display: flex;
    flex-direction: column;
}

.payment__container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.payment__form {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.payment__prices_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
}

.payment__modal_container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-background-black);
}

.payment__modal_input_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 30%;
    height: 45%;
    min-height: 300px;
    padding: 20px;
    background-color: var(--color-white);
}

.payment__modal_close_button {
    min-width: 30px;
    height: 30px;
    margin-left: auto;
    background: url("../../../assets/img/cross.svg");
}

.payment__modal_input {
    width: 100%;
}

.payment__modal_input_button {
    max-height: 50px;
}

.payment__modal_input_card {
    width: 100%;
}
