.payment_plans__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.payment_plans__cards {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    min-height: 100%;
    padding: 25px;
}
