.not_found_page__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--color-background-light-blue);
}

.not_found_page__content_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    padding: 20px;
    color: var(--color-text-blue);
    background-color: var(--color-white);
    border-radius: 8px;
    box-shadow: var(--color-background-dark-blue) 0 8px 24px;
}

.not_found_page__title {
    font-weight: 500;
    font-size: 128px;
    line-height: 90px;
}

.not_found_page__title_marked {
    color: var(--color-background-dark-blue);
}

.not_found_page__subtitle {
    font-weight: 400;
    font-size: 26px;
}

.not_found_page__text {
    margin: 20px 0;
    font-size: 16px;
}
