.createNewCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    color: #393e4de5;
    border: 2px solid white;
    border-radius: 8px;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
}
