.container {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #848d96;
}

.container input:checked + .text {
    color: #1d2433;
}

.radio {
    position: relative;
    width: 16px;
    height: 16px;
    margin: 0;
    border: 2px solid #ccd7dc;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    appearance: none;
}

.radio::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 8px;
    height: 8px;
    background-color: #ccd7dc;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.3s;
}

.checkbox {
    width: 16px;
    height: 16px;
    border-radius: 2px;
}

.radio:checked {
    border-color: #dbae2d;
}

.radio:checked::after {
    background-color: #dbae2d;
    opacity: 1;
}
