.delete__button {
    display: flex;
    align-items: center;
    gap: 5px;
}

.delete__button__text {
    color: rgb(30 37 50);
    font-weight: 400;
    font-size: 19px;
    font-family: "TT Commons", system-ui, "Segoe UI";
    transition: color 0.15s ease 0s;
}

.delete__button__text:hover {
    color: var(--color-button-blue);
    transition: color 0.15s ease 0s;
}

.mask {
    width: 24px;
    height: 24px;
    mask-image: url("~/assets/img/delete-icon.svg");
    mask-size: cover;
    mask-position: center;
}

.colored {
    background-color: var(--color-button-blue);
}
