.label {
    position: relative;
    display: flex;
    flex-direction: column;
}

.error {
    margin-top: 2px;
    color: var(--color-error-red);
    font-size: var(--font-size-secondary-text);
    text-align: right;
}

.label__name {
    margin-bottom: 13px;
    color: var(--color-label-blue);
    font-weight: var(--font-weight-subtitle);
    line-height: 16px;
}
