.label {
    position: relative;
    display: flex;
    flex-direction: column;
}

.error {
    position: absolute;
    right: 0;
    bottom: -22px;
    color: #ff5757;
    font-size: 12px;
    text-align: right;
}

.label__name {
    margin-bottom: 13px;
    color: #313134;
    font-weight: 500;
    line-height: 16px;
}
