.layout {
    display: grid;
    grid-template-rows: 136px auto auto;
    grid-template-columns: 1fr 1fr;
    flex-grow: 1;
    gap: 10px;
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
    padding: 20px;
}

.templates_layout {
    grid-template-rows: 136px auto;
}

.template_page__card_layout {
    grid-template-rows: 1fr 1fr;
}

.flex_home_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon_input_wrapper {
    width: 70%;
}

.template_icon_input {
    padding: 8px 5px 8px 25px;
    color: var(--color-text-gray);
    background: var(--color-white);
    border-radius: 5px;
}

.create_resume_button {
    width: 170px;
    height: 40px;
    padding: 24px, 8px;
    color: var(--color-white);
    background: var(--color-accent-dark-yellow);
    border: none;
    border-radius: 52px;
    outline: none;
    transition: 0.3s;
}

.create_resume_button:hover {
    color: white;
    background-color: var(--color-light-gold);
}

.template_not_found_message {
    grid-column: span 7;
    justify-self: center;
}
