.resume_card {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--color-white);
    border: 2px solid var(--color-white);
    border-radius: 8px;
    box-shadow: 0 0 10px 0 var(--color-box-shadow-dark);
    transition: transform 0.3s ease-in-out;
}

.resume_card:hover {
    transform: scale(1.1);
}

.resume_card__button {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 10px;
    color: var(--color-background-blue);
    font-size: 20px;
}

.resume_card__button:hover {
    opacity: 0.8;
}

.resume_card__img {
    flex-grow: 1;
    width: 100%;
    height: 225px;
    overflow: hidden;
    border-radius: 8px;
    object-fit: contain;
}

.resume_card__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 60px;
    padding: 10px;
    border-top: 1px solid var(--color-border-gray);
}

.resume_card__content_title {
    margin: 0;
    font-weight: var(--font-weight-logo);
    font-size: var(--font-size-main-text);
    line-height: 1.5;
}

.resume_card__content_text {
    margin: 0;
    color: var(--color-text-light-gray);
    font-size: var(--font-size-secondary-text);
    line-height: 1.5;
}
