.resumeCard {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 2px solid white;
    border-radius: 8px;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
}

.resumeCard__img {
    width: 100%;
    object-fit: contain;
    border-radius: 8px;
}

.resumeCard__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 60px;
    padding: 10px;
    border-top: 1px solid #e0e0e0;
}

.resumeCard__content__title {
    margin: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
}

.resumeCard__content__text {
    margin: 0;
    color: #86899e;
    font-size: 12px;
    line-height: 1.5;
}
