.section_body__item_recommendation {
    display: flex;
    flex-direction: column;
    height: 64.56px;
    padding: 4.95px;
    overflow: hidden;
    border: 0.83px solid var(--color-border-gray);
    border-radius: 6.6px;
}

.recommendation__header {
    display: flex;
}

.section_body__image {
    margin-right: 8.25px;
}

.recommendations_info__name {
    color: var(--color-text-dark-blue);
    font-weight: var(--font-weight-subtitle);
    font-size: 6.6px;
    line-height: 9.9px;
}

.recommendations_info__work_wrapper {
    display: flex;
    color: var(--color-text-badge);
    font-weight: var(--font-weight-text);
}

.recommendations_text {
    display: -webkit-box;
    overflow: hidden;
    color: var(--color-recommendation-text);
    font-weight: var(--font-weight-text);
    font-size: 4.95px;
    line-height: 7.43px;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}
