.social_media {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    padding: 0 16px;
    background: var(--color-accent-light-yellow);
    border-radius: 10px;
}

.social_media__description {
    color: var(--color-text-blue);
    font-weight: 500;
    font-size: 13px;
    font-family: Poppins, sans-serif;
}

.social_media__links {
    display: flex;
    gap: 16px;
}
