.panelContainer {
    display: flex;
    flex-direction: column;
    font-family: Poppins, sans-serif;
    background-color: rgba($color: #ccd7dc, $alpha: 40%);
    border: 1px solid #f6f6fb;
    border-radius: 30px;
}

.panelContainer__topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    color: #434c66;
    font-size: 16px;
    line-height: 1.5;
    border-bottom: 1px solid white;
    border-radius: 30px 30px 0 0;
}

.panelContainer__content {
    padding: 10px 40px 20px;
}
