.restore__header {
    align-self: flex-start;
    margin: 0;
}

.restore__title {
    margin: 0;
    color: var(--color-text-blue);
    font-weight: 600;
    font-size: 30px;
    font-family: Poppins, Arial, sans-serif;
    line-height: 48px;
}

.restore__message {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 19.5px;
}

.restore__link {
    color: var(--color-accent-dark-yellow);
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

.restore__form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    margin: 10px 0;
}

.restore__form__actions {
    display: flex;
    column-gap: 10px;
}
