.auth {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    min-height: 100vh;
    padding: 30px;
    background-color: var(--color-background-dark-blue);
}

.auth__container {
    display: flex;
    flex-grow: 1;
    gap: 20px;
    height: 100%;
    background-color: var(--color-background-light-blue);
    border-radius: 20px;
}

.auth__logo-container {
    display: none;
}

.auth__logo svg {
    width: 100%;
}

.auth__form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1025px;
    padding: 20px;
    background-color: var(--color-white);
    border-radius: 15px;
}

.auth__form-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

@media only screen and (width >= 1024px) {
    .auth__logo-container {
        display: flex;
        max-height: 20%;
        margin: auto;
    }

    .auth__form-container {
        width: 48%;
    }

    .auth__form-content {
        width: 88%;
    }
}
