.editor__section {
    display: flex;
    height: 100%;
}

.editor_sidebar__nav {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    background-color: #687A9C;
}

.editor_sidebar__list {
    padding: 45px 0 50px;
    list-style: none;
}

.editor_sidebar__item {
    width: 100%;
    padding: 17px 65px 22px;
    color: white;
    text-align: center;
    background-color: inherit;
    border: none;
    cursor: pointer;
}

.editor_sidebar__item__active {
    background-color: #768FBE;
}

.editor_output__block {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    padding: 36px 32px;
}

.editor_output__button {
    padding: 15px 24px;
    color: white;
    font-size: 16px;
    line-height: 24px;
    background-color: #687A9C;
    border: none;
    border-radius: 50px;
}

.editor_output__button:hover {
    background-color: #3F557E;
}