// mockup component styles

.photo_uploader__mockup {
    display: flex;
    align-items: center;
    padding: 20px;
    cursor: pointer;
}

.photo_uploader__mockup_thumb {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background-color: var(--color-input-field-gray);
    border-radius: 4px;
}

.photo_uploader__mockup_icon {
    width: 40px;
    height: 40px;
    color: var(--color-text-gray);
}

.photo_uploader__mockup_text {
    display: flex;
    align-items: center;
    padding: 0 20px;
    color: var(--color-text-gray);
    font-size: var(--font-size-title-h4);
}

.photo_uploader__mockup:hover .photo_uploader__mockup_thumb {
    background-color: var(--color-background-light-blue);
}

.photo_uploader__mockup:hover .photo_uploader__mockup_icon {
    color: var(--color-text-blue);
}

.photo_uploader__mockup:hover .photo_uploader__mockup_text {
    color: var(--color-text-blue);
}

// modal component styles

.photo_uploader__modal_backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(63 85 126 / 80%);
}

.photo_uploader__modal_overlay {
    position: fixed;
    top: calc(50% - 400px);
    left: calc(50% - 400px);
    width: 800px;
    height: 800px;
    padding: 50px;
    background-color: var(--color-hover-blue);
}

.photo_uploader__modal_button__close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
}

.photo_uploader__modal_button__icon {
    width: 25px;
    height: 25px;
    color: var(--color-white);
}

// uploader component styles

.photo_uploader__insert_block {
    height: 100%;
    text-align: center;
}

.photo_uploader__insert_input {
    display: none;
}

.photo_uploader__insert_area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;
    color: var(--color-white);
    font-size: var(--font-size-title-h4);
    border: 2px dashed var(--color-white);
    cursor: pointer;
}

.photo_uploader__insert_area__icon {
    width: 100px;
    height: 100px;
    margin-bottom: 40px;
    color: var(--color-white);
}

// cropper component styles

.photo_uploader__cropper_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.photo_uploader__cropper{
    align-self: center;
    width: 90%;
    height: 90%;
}

.photo_uploader__cropper_button_thumb {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    padding: 10px 0;
}

.photo_uploader__cropper_button__save, .photo_uploader__cropper_button__anotherPhoto {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    color: var(--color-text-blue);
    font-size: var(--font-size-title-h5);
    background-color: var(--color-white);
    border-radius: 25px;
}


.photo_uploader__cropper_button__rotate, 
.photo_uploader__cropper_button__zoomIn, 
.photo_uploader__cropper_button__zoomOut {
    padding: 10px 20px;
    color: var(--color-white);
}

.photo_uploader__cropper_button__rotate {
    top: 250px;
}

.photo_uploader__cropper_button__zoomIn {
    top: 350px;
}

.photo_uploader__cropper_button__zoomOut {
    top: 450px;
}

.photo_uploader__cropper_button_icon__rotate, 
.photo_uploader__cropper_button_icon__zoomIn, 
.photo_uploader__cropper_button_icon__zoomOut
 {
    width: 25px;
    height: 25px;
}

.photo_uploader__cropper_button_icon__save, 
.photo_uploader__cropper_button_icon__anotherPhoto {
    margin-right: 10px;
}

// preview component styles

.photo_uploader__preview_wrapper {
    display: flex;
}

.photo_uploader__preview_photoThumb {
    width: 80px;
    height: 80px;
    object-fit: scale-down;
}

.photo_uploader__preview_photo {
    border-radius: 50%;
}

.photo_uploader__preview_buttonThumb {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin-left: 30px;
}

.photo_uploader__preview_button{
    color: var(--color-text-gray);
    font-size: var(--font-size-title-h4);
}

.photo_uploader__preview_button:hover {
    color: var(--color-hover-blue);
}

.photo_uploader__preview_button:last-child:hover {
    color: var(--color-error-red);
}