.uploader_mockup {
    display: flex;
    align-items: center;
    padding: 30px;
    cursor: pointer;
}

.uploader_mockup__thumb {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background-color: var(--color-input-field-gray);
    border-radius: 4px;
}

.uploader_mockup__icon {
    width: 40px;
    height: 40px;
    color: var(--color-text-gray);
}

.uploader_mockup__text {
    display: flex;
    align-items: center;
    padding: 0 20px;
    color: var(--color-text-gray);
    font-size: var(--font-size-title-h4);
}

.uploader_mockup:hover .uploader_mockup__thumb {
    background-color: var(--color-background-light-blue);
}

.uploader_mockup:hover .uploader_mockup__icon {
    color: var(--color-hover-blue);
}

.uploader_mockup:hover .uploader_mockup__text {
    color: var(--color-text-blue);
}

.uploader_modal__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(63 85 126 / 80%);
}

.uploader_modal__overlay {
    position: fixed;
    top: calc(50% - 400px);
    left: calc(50% - 400px);
    width: 800px;
    height: 800px;
    padding: 40px;
    background-color: var(--color-text-blue);
}

.uploader_modal__button__close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
}

.uploader_modal__button__icon {
    width: 25px;
    height: 25px;
    color: var(--color-white);
}

.uploader_insert__block {
    height: 100%;
    text-align: center;
}

.uploader_insert__input {
    display: none;
}

.uploader_insert__area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;
    color: var(--color-white);
    font-size: var(--font-size-title-h4);
    border: 2px dashed var(--color-white);
    cursor: pointer;
}

.uploader_insert__icon {
    width: 100px;
    height: 100px;
    margin-bottom: 40px;
    color: var(--color-white);
}

.uploader_cropper__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.uploader_cropper{
    align-self: center;
    width: 80%;
    height: 80%;
}

.uploader_cropper__buttonThumb {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    padding: 10px 0;
}

.uploader_cropper__buttonThumb .uploader_cropper__button__save, 
.uploader_cropper__buttonThumb .uploader_cropper__button__anotherPhoto {
    display: flex;
    align-items: center;
    width: 220px;
    padding: 12px;
    color: var(--color-text-blue);
    font-size: var(--font-size-title-h5);
    background-color: var(--color-white);
    border-radius: 25px;
}

.uploader_cropper__button__rotate, 
.uploader_cropper__button__zoomIn, 
.uploader_cropper__button__zoomOut {
    padding: 10px 20px;
    color: var(--color-white);
}

.uploader_cropper__icon__rotate, 
.uploader_cropper__icon__zoomIn, 
.uploader_cropper__icon__zoomOut
 {
    width: 25px;
    height: 25px;
}

.uploader_cropper__icon__save, 
.uploader_cropper__icon__anotherPhoto {
    margin-right: 10px;
}

.uploader_preview__wrapper {
    display: flex;
}

.uploader_preview__photoThumb {
    width: 80px;
    height: 80px;
    object-fit: scale-down;
}

.uploader_preview__photo {
    border-radius: 50%;
}

.uploader_preview__buttonThumb {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin-left: 30px;
}

.uploader_preview__buttonThumb .uploader_preview__button {
    display: flex;
    justify-content: start;
    width: 100px;
    color: var(--color-text-gray);
    font-size: var(--font-size-title-h4);
    border: none;
}

.uploader_preview__buttonThumb .uploader_preview__button:hover {
    color: var(--color-hover-blue);
    border: none;
}

.uploader_preview__button:last-child:hover {
    color: var(--color-error-red);
    border: none;
}