.dropdown {
    position: relative;
}

.dropdown__button {
    display: flex;
    align-items: center;
    padding: 8px 10px;
    background-color: var(--color-white);
    border-radius: 48%;
}

.dropdown__icon__button {
    font-size: var(--font-size-subtitle);
    border: none;
    cursor: pointer;
}

.dropdown_content {
    position: absolute;
    right: -15px;
    z-index: 1;
    display: none;
    width: 250px;
    min-width: 160px;
    background-color: var(--color-white);
    box-shadow: 0 8px 16px 0 var(--color-box-shadow);
}

.dropdown:hover .dropdown_content {
    display: block;
}

.mask {
    width: 30px;
    height: 18px;
    mask-size: cover;
    mask-position: center;
}

.colored {
    background-color: var(--color-text-gray);
}
