.main {
    padding: 1px;
}

.main__header {
    width: 215px;
}

.main__logo {
    padding: 1px;
}

.main__tabs {
    padding: 1px;
}

.main__avatar {
    padding: 1px;
}

.main__avatar img {
    width: 51px;
    height: 51px;
    border-radius: 100%;
}
