.wrapper .wrapper__line {
    height: 1px;
    background-color: #e4e7eb;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1250px;
    margin: 0 auto;
    padding: 16px 0;
}

.header__logo {
    width: 215px;
}

.header__avatar img {
    width: 51px;
    height: 51px;
    border-radius: 100%;
}
