.resume_preview__section_wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 4.95px;
    padding: 9.9px;
    border: 1px solid var(--color-border-gray);
    border-radius: 8.25px;
}

.resume_preview__aside_section_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6.6px;
    padding-bottom: 6.6px;
    border-bottom: 0.83px dashed var(--color-border-gray);
}

.section_header__title {
    color: var(--color-text-dark-blue);
    font-weight: 500;
    font-size: 8.25px;
    line-height: 13.2px;
}

.languages__list {
    color: var(--color-text-badge);
}

.languages__list span {
    color: var(--color-border-gray);
}
