.landing_page__container {
    display: flex;
    flex-direction: column;
    gap: 75px;
    margin-top: 50px;
}

.landing_page__intro {
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 75vh;
}

.landing_page__intro_item {
    flex: 1;
}

.landing_page__intro__content_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro__content {
    position: relative;
    width: 80%;
    height: fit-content;
    margin-left: auto;
    font-family: var(--font-family-main);
}

.intro__title {
    color: var(--color-text-black);
    font-weight: var(--font-weight-title);
    font-size: var(--font-size-large);
    line-height: 70px;
}

.intro__title_highlighted {
    color: var(--color-accent-dark-yellow);
    font-size: var(--font-size-extra-large);
}

.intro__title_highlighted::after {
    content: "\a";
    white-space: pre;
}

.intro__subtitle_text {
    max-width: 600px;
    margin-top: 15px;
    font-weight: 14px;
    size: 14px;
}

.intro__button {
    width: 306px;
    margin-top: 30px;
}

.intro__arrow {
    position: absolute;
    bottom: -100px;
    left: 50%;
    width: 70%;
    height: 55%;
    background-color: var(--color-accent-light-yellow);
    mask-image: url("../../assets/img/Arrow2.svg");
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
    mask-position: center;
}

.intro__image_container {
    display: flex;
    justify-content: center;
    align-items: end;
    width: 100%;
    background-color: var(--color-accent-dark-yellow);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.intro__image {
    max-width: 100%;
    height: 95%;
    margin-right: 50px;
    padding-bottom: 30px;
    background: linear-gradient(to top, white 98%, transparent 0);
}

.landing_page__features {
    display: grid;
    grid-template-rows: repeat(2, 50vh);
    grid-template-columns: 1fr 1fr;
    row-gap: 50px;
}

:is(.features__image_container_left, .features__image_container_right) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
    background-color: var(--color-input-field-gray);
    border-radius: 8px;
}

.features__image_container_left {
    margin-left: auto;
}

.features__image_container_right {
    margin-right: auto;
}

:is(.features__content_container_right, .features__content_container_left) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 80%;
    font-family: var(--font-family-main);
}

.features__content_container_left {
    margin-left: auto;
    padding-right: 5%;
}

.features__content_container_right {
    margin-right: auto;
    padding-left: 5%;
}

.landing_page__template_feature_image_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 90%;
    height: 80%;
}

.features__title {
    color: var(--color-accent-dark-yellow);
    font-weight: var(--font-weight-subtitle);
    font-size: var(--font-size-medium);
    font-family: var(--font-family-main);
}

.features__subtitle {
    font-weight: var(--font-weight-subtitle);
    font-size: 24px;
    font-family: var(--font-family-main);
}

.features__text {
    color: var(--color-text-black);
    font-size: 17px;
    font-family: var(--font-family-main);
    line-height: 30px;
}

.features__online_editor_feature_image {
    max-width: 100%;
    height: 100%;
}

.landing_page__get_started_section {
    display: flex;
    justify-content: space-between;
    height: 70vh;
    background-color: var(--color-background-light-blue);
}

.landing_page__get_started_item {
    flex: 1;
}

.get_started_section__content_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
    width: 80%;
    height: 100%;
    margin-left: auto;
    font-family: var(--font-family-main);
}

.get_started_section__title {
    color: var(--color-text-black);
    font-weight: var(--font-weight-subtitle);
    font-size: 60px;
    font-family: var(--font-family-main);
    line-height: 63px;
}

.get_started_section__text {
    width: 90%;
    color: var(--color-text-blue);
    font-weight: var(--font-weight-text);
    font-family: var(--font-family-main);
    line-height: 27px;
    size: 18px;
}

.get_started_section__image_container {
    display: flex;
    align-items: center;
    height: 100%;
}

.get_started_section__image {
    width: 90%;
    border-radius: 8px;
}

.get_started_section__button {
    width: 270px;
    margin-top: 30px;
    color: var(--color-text-black);
    background-color: var(--color-white);
}
