.subscription_card__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 350px;
    min-width: 25%;
    min-height: 350px;
    padding: 30px;
    color: var(--color-background-light-blue);
    background-color: var(--color-white);
    border-radius: 16px;
}

.subscription_card__container_selected {
    background-color: var(--color-background-light-blue);
}

.subscription_card__title_container {
    position: absolute;
    top: -28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 75%;
    height: 15%;
    background-color: var(--color-accent-dark-yellow);
    border-radius: 30px;
}

.subscription_card__title_image {
    min-width: 50%;
}

.subscription_card__title {
    color: var(--color-background-dark-blue);
    font-weight: var(--font-weight-subtitle);
    font-size: var(--font-size-title-h3);
    text-align: center;
    text-transform: capitalize;
}

.subscription_card__info_container {
    text-align: center;
}

.subscription_card__info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-family: var(--font-family-main);
}

.subscription_card__price {
    color: var(--color-text-dark-blue);
    font-weight: 500;
    font-size: 28px;
}

.subscription_card__price_deleted {
    font-size: 16px;
    text-decoration: line-through;
}

.subscription_card__duration {
    color: var(--color-text-profile);
    font-weight: 400;
    font-size: 16px;
}

.subscription_card__description {
    min-height: 100px;
    color: var(--color-text-profile);
    font-size: 16px;
    text-align: left;
}

.subscription_card__button {
    width: 100%;
}

.subscription_card__button:hover {
    width: 100%;
}
