.subscription_card__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 300px;
    min-width: 25%;
    min-height: 400px;
    padding: 20px;
    color: var(--color-white);
    background-color: var(--color-background-dark-blue);
    border-radius: 8px;
}

.subscription_card__container_selected {
    background-color: var(--color-background-light-blue);
}

.subscription_card__title_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 100%;
    height: 15%;
}

.subscription_card__title_image {
    min-width: 50%;
}

.subscription_card__title {
    color: var(--color-accent-dark-yellow);
    font-weight: var(--font-weight-subtitle);
    text-align: center;
}

.subscription_card__info_container {
    text-align: center;
}

.subscription_card__info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-weight: var(--font-weight-subtitle);
    font-size: 24px;
}

.subscription_card__price {
    font-weight: 500;
    font-size: 28px;
}

.subscription_card__currency {
    font-weight: 500;
    font-size: 16px;
}

.subscription_card__duration {
    font-size: 12px;
}

.subscription_card__description {
    min-height: 150px;
    text-align: left;
}

.subscription_card__button {
    width: 100%;
}

.subscription_card__button:hover {
    width: 100%;
}
