.badge {
    padding: 1.65px 4.95px;
    color: var(--color-text-badge);
    font-weight: var(--font-weight-title);
    font-size: 6.6px;
    line-height: 9.9px;
    letter-spacing: 2%;
    text-transform: uppercase;
    background-color: var(--color-background-badge);
    border: 0.83px solid var(--color-border-light-gray);
    border-radius: 824.38px;
    cursor: pointer;
    transition: all 0.3s;
}
