.badge {
    padding: 1.65px 4.95px;
    color: #666d80;
    font-weight: 600;
    font-size: 6.6px;
    line-height: 9.9px;
    letter-spacing: 2%;
    text-transform: uppercase;
    background-color: #f6f8fa;
    border: 0.83px solid #eceff3;
    border-radius: 824.38px;
    cursor: pointer;
    transition: all 0.3s;
}
