.template_editor {
    box-sizing: border-box;
    width: 500px;
    min-height: calc(500px * 1.414);
    margin: 0 auto;
    overflow: hidden;
    border-radius: 20px;
    outline: 1px solid var(--color-background-dark-blue);
}
