.template_editor {
    box-sizing: border-box;
    width: 500px;
    height: 100%;
    aspect-ratio: 1 / 1.41;
    margin: 0 auto;
    overflow: hidden;
    border: 1px solid var(--color-background-dark-blue);
    border-radius: 20px;
}
