.create_new_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    color: var(--color-text-dark-blue);
    border: 2px solid var(--color-white);
    border-radius: 8px;
    box-shadow: 0 0 10px 0 var(--color-box-shadow-dark);
}
