.textArea {
    padding: 12px 0 12px 12px;
    color: var(--color-text-blue);
    font-size: var(-font-size-main-text);
    line-height: 20px;
    background: var(--color-input-field-gray);
    border: none;
    border-radius: 8px;
    outline: none;
}

.textArea:focus {
    color: var(--color-text-black);
    border: 1px solid var(--color-background-dark-blue);
}

.textArea::placeholder {
    color: var(--color-text-black);
}

.textArea:focus::placeholder {
    color: var(--color-text-black);
}

.textArea::-webkit-scrollbar {
    width: 4px;
}

.textArea::-webkit-scrollbar-track {
    background: var(--color-input-field-gray);
    border-radius: 50px;
}

.textArea::-webkit-scrollbar-thumb {
    background: var(--color-disabled-gray);
    border-radius: 50px;
}

.textArea:-webkit-scrollbar-thumb:hover {
    background: var(--color-disabled-gray);
}

.textArea__disabled {
    color: var(--color-disabled-gray);
}

.textArea__disabled::placeholder {
    color: var(--color-disabled-gray);
}

.textArea__error {
    color: var(--color-disabled-gray);
    border: 1px solid var(--color-error-red);
}

.textArea__error:focus {
    border: 1px solid var(--color-error-red);
}

.textArea__error::placeholder {
    color: var(--color-disabled-gray);
}
