.textArea {
    padding: 12px 0 12px 12px;
    color: #434c66;
    font-size: 14px;
    line-height: 20px;
    background: #ebeff1;
    border: none;
    border-radius: 8px;
    outline: none;
}

.textArea:focus {
    color: #302e36;
    border: 1px solid #687a9c;
}

.textArea::placeholder {
    color: #302e36;
}

.textArea:focus::placeholder {
    color: #302e36;
}

.textArea::-webkit-scrollbar {
    width: 4px;
}

.textArea::-webkit-scrollbar-track {
    background: #ebeff1;
    border-radius: 50px;
}

.textArea::-webkit-scrollbar-thumb {
    background: #ccd7dc;
    border-radius: 50px;
}

.textArea:-webkit-scrollbar-thumb:hover {
    background: #ccd7dc;
}

.textArea__disabled {
    color: #ccd7dc;
}

.textArea__disabled::placeholder{
    color: #ccd7dc;
}

.textArea__error {
    color: #ccd7dc;
    border: 1px solid #ff5757;
}

.textArea__error:focus {
    border: 1px solid #ff5757;
}

.textArea__error::placeholder {
    color: #ccd7dc;
}
