.login__title {
    width: 100%;
    margin: 10px 0;
    padding: 0;
    color: var(--color-text-blue);
    font-weight: var(--font-weight-title);
    font-size: var(--font-size-title-h2);
    font-family: var(--font-family-main);
    line-height: 48px;
}

.login__message {
    margin: 0;
    padding: 0;
    font-weight: var(--font-weight-text);
    font-size: var(--font-size-secondary-text);
    line-height: 19.5px;
}

.login__link {
    color: var(--color-accent-dark-yellow);
    font-family: var(--font-family-secondary);
}

.login__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin-top: 20px;
}

.login__button {
    width: 100%;
}

.login__form_password {
    position: relative;
    display: flex;
    flex-direction: column;
}

.forgot__link {
    position: absolute;
    top: 10%;
    right: 0;
    z-index: 10;
    align-self: flex-end;
    margin-left: auto;
    padding: 0;
    color: var(--color-accent-dark-yellow);
    font-weight: var(--font-weight-text);
    font-size: var(--font-size-secondary-text);
    font-family: var(--font-family-main);
    line-height: 18px;
    text-decoration: none;
}

.login__form__button {
    margin-top: 20px;
}
