.login__title {
    width: 100%;
    margin: 0;
    padding: 0;
    color: #434c66;
    font-weight: 600;
    font-size: 30px;
    font-family: Poppins, Arial, sans-serif;
    line-height: 48px;
}

.login__message {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 19.5px;
}

.login__link {
    color: #dbaf2d;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

.login__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.login__button {
    width: 100%;
}

.login__form_password {
    position: relative;
    display: flex;
    flex-direction: column;
}

.forgot__link {
    position: absolute;
    top: 5%;
    right: 0;
    z-index: 10;
    align-self: flex-end;
    margin-left: auto;
    padding: 0;
    color: #dbaf2d;
    font-weight: 400;
    font-size: 12px;
    font-family: Poppins, Arial, sans-serif;
    line-height: 18px;
    text-decoration: none;
}

.login__form__button {
    margin-top: 10px;
}
