.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.create_resume_button {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: 100%;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
}

.create_resume_button__icon {
    position: relative;
}

.create_resume_button__icon__plus_circle {
    position: absolute;
    top: -5px;
    left: -5px;
    width: 26px;
    height: 26px;
}

.create_resume_button__icon__resume {
    width: 55px;
    height: 69px;

}

.create_resume_button__text {
    margin: 0;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.5;
}
