.password {
    position: relative;
    display: inline-block;
    flex-direction: column;
    width: 100%;
}

.password__icon {
    position: absolute;
    top: 45px;
    right: 20px;
    cursor: pointer;
    transform: translateY(-50%);
}
