.resume_preview__section_wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 4.95px;
    padding: 9.9px;
    border: 1px solid var(--color-border-gray);
    border-radius: 8.25px;
}

.resume_preview__aside_section_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6.6px;
    padding-bottom: 6.6px;
    border-bottom: 0.83px dashed var(--color-border-gray);
}

.section_header__title {
    color: var(--color-text-dark-blue);
    font-weight: var(--font-weight-subtitle);
    font-size: 8.25px;
    line-height: 13.2px;
}

.portfolio__content {
    padding: 4.95px;
    background-color: var(--color-background-badge);
    border-radius: 6.6px;
}

.portfolio__image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110.58px;
    height: 55.29px;
    margin-bottom: 4.95px;
    background-color: var(--color-background-portfolio);
    border-radius: 4.95px;
}

.portfolio__info {
    margin-bottom: 4.95px;
}

.portfolio__title {
    margin-bottom: 1.65px;
    line-height: 9.9px;
}

.portfolio__description {
    line-height: 9.9px;
}

.portfolio__link {
    display: flex;
}
