.greeting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    padding: 20px 40px;
    color: white;
    font-family: Poppins, sans-serif;
}

.greeting__title {
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.5;
}

.greeting__text {
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
}
