.tab__header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

a.tab__item {
    padding: 5px 20px;
    color: var(--color-text-gray);
    font-weight: var(--font-weight-subtitle);
    font-size: var(--font-size-subtitle);
    font-family: var(--font-family-main);
    line-height: 24px;
    border: none;
    border-radius: 34px;
    cursor: pointer;
}

a.active {
    color: var(--color-text-blue);
    background-color: var(--color-accent-light-yellow);
}
