.tab__header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tab__item {
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #848D96;
    line-height: 24px;
    border-radius: 34px;
    padding: 5px 20px;
}

.active{
    background-color: #FDF3D3;
    color: #434C66;
}
