.tab__header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

a.tab__item {
    padding: 5px 20px;
    color: #848D96;
    font-weight: 500;
    font-size: 16px;
    font-family: Poppins, sans-serif;
    line-height: 24px;
    border: none;
    border-radius: 34px;
    cursor: pointer;
}

a.active{
    color: #434C66;
    background-color: #FDF3D3;
}
