.tooltip__container {
    --golden: #dbae2d;

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 100%;
}

.tooltip__popup {
    max-width: 30vw;
    padding: 10px;
}

.tooltip__anchor_container {
    width: fit-content;
    min-width: 20px;
    height: 100%;
    min-height: 20px;
}