.tooltip__container {
    --golden: #dbae2d;

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    width: 100%;
    height: 100%;
}

.tooltip__popup {
    max-width: 30vw;
    padding: 10px;
}

.tooltip__image_container {
    width: 100%;
    min-width: 20px;
    height: 100%;
    min-height: 20px;
    background-color: var(--golden);
    mask-image: url('../../../../assets/img/question-circle.svg');
    mask-repeat: no-repeat;
    mask-position: center;

}