.modal_content {
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
}

.modal_buttons {
    display: flex;
    gap: 15px;
    margin-left: auto;
}

.modal_buttons .modal__cancel__button,
.modal_buttons .modal__delete__button {
    padding: 13px 24px 13px 20px;
    font-weight: var(--font-weight-title);
    font-size: 18px;
    line-height: 22px;
    border-radius: 4px;
}

.modal_buttons .modal__cancel__button {
    color: var(--color-white);
    background-color: var(--color-button-blue);
}

.modal_buttons .modal__delete__button {
    box-shadow: var(--color-box-shadow-button) 0 0 10px 1px inset;
}
