.payment__container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.payment__form {
    display: flex;
    flex-direction: column;
    min-width: 30%;
}

