.template_section {
    grid-column: 1 / -1;
    background-color: var(--color-accent-light-yellow);
}

.template_section__cards {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}
