.width__full {
    width: 100%;
}

.width__default {
    width: auto;
}

.button__regular {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    min-height: 16px;
    margin: 0;
    padding: 8px 24px;
    font-size: var(--font-size-title-h5);
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    vertical-align: baseline;
    border: 1px solid var(--color-black);
    border-radius: 12px;
    cursor: pointer;
}

.button__regular:hover {
    color: var(--color-button-hover);
}

.button__regular:disabled {
    pointer-events: none;
    cursor: not-allowed;
}

.size__small {
    gap: 4px;
    height: 32px;
    padding: 4px 16px;
    font-size: var(--font-size-main-text);
    line-height: 20px;
}

.size__medium {
    gap: 8px;
    height: 54px;
    padding: 8px 24px;
}

.button__primary {
    color: var(--color-white);
    font-weight: var(--font-weight-title);
    background-color: var(--color-background-dark-blue);
    border: none;
    border-radius: 52px;
}

.button__primary:hover {
    color: var(--color-white);
    background-color: var(--color-hover-blue);
}

.button__primary:disabled {
    background-color: var(--color-disabled-gray);
}

.button__outlined {
    color: var(--color-background-dark-blue);
    font-weight: var(--font-weight-title);
    background-color: transparent;
    border: 1px solid var(--color-background-dark-blue);
    border-radius: 52px;
}

.button__outlined:hover {
    color: var(--color-background-blue);
    border: 1px solid var(--color-background-blue);
}

.button__outlined:disabled {
    color: var(--color-white);
    background-color: var(--color-disabled-gray);
    border: none;
}

.button__ghost {
    color: var(--color-background-dark-blue);
    font-weight: var(--font-weight-title);
    background-color: transparent;
    border: none;
}

.button__ghost:hover {
    color: var(--color-background-blue);
}

.button__ghost:disabled {
    color: var(--color-disabled-gray);
}

.button__orange,
.button__orange:hover,
.button__orange:disabled {
    width: 48px;
    height: 48px;
    padding: 0;
    color: var(--color-white);
    line-height: 50px;
    background: var(--color-accent-dark-yellow);
    border: none;
    border-radius: 9px;
    outline: none;
    cursor: pointer;
}
