.container {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--color-text-gray);
}

.container input:checked + .text {
    color: var(--color-text-black);
}

.switch {
    position: relative;
    width: 40px;
    height: 20px;
    margin: 0;
    border: 2px solid var(--color-disabled-gray);
    border-radius: 12px;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    appearance: none;
}

.switch::after {
    content: "";
    position: absolute;
    top: 50%;
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: var(--color-disabled-gray);
    border-radius: 50%;
    transform: translateX(4px) translateY(-50%);
    transition: 0.3s;
}

.switch:checked {
    border-color: var(--color-accent-dark-yellow);
}

.switch:checked::after {
    background-color: var(--color-accent-dark-yellow);
    transform: translateX(20px) translateY(-50%);
}
