.modal__content_wrapper {
    display: flex;
    gap: 40px;
}

.modal__content_image {
    width: 80%;
    height: 80%;
    background-position: center;
    background-size: cover;
    opacity: 0.7;
}

.modal__content {
    font-size: 16px;
}

.modal__description {
    margin-bottom: 20px;
    line-height: 22px;
}

.modal__buttons {
    display: flex;
    gap: 25px;
    margin-left: auto;
}

.modal__buttons .modal__upgrade_button,
.modal__buttons .modal__cancel_button {
    padding: 13px 24px 13px 20px;
    font-weight: var(--font-weight-title);
    font-size: 18px;
    line-height: 22px;
    border-radius: 4px;
}

.modal__buttons .modal__upgrade_button {
    color: var(--color-white);
    background-color: var(--color-button-blue);
}

.modal__buttons .modal__upgrade_button:hover {
    background-color: var(--color-hover-blue);
}

.modal__buttons .modal__skip_button {
    box-shadow: var(--color-box-shadow-button) 0 0 10px 1px inset;
}

.modal__icon_close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.modal__custom_list {
    margin-top: 7px;
    margin-bottom: 40px;
}

.modal__custom_list li:not(:last-child) {
    margin-bottom: 7px;
}

.modal__custom_list li::before {
    content: "\2713 ";
    margin-right: 7px;
    color: var(--color-accent-dark-yellow);
    font-weight: 600;
}
