.wrapper{
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.stepper {
    display: flex;
    align-items: center;
    padding: 8px;
}

.stepper__line {
    flex: 1 1 auto;
    height: 1px;
    margin: 0 8px;
    background-color: var( --color-background-dark-blue);
}