ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    list-style: none;
}

p {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

.resume_preview__wrapper {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    max-width: 491px;
    margin: 0 auto;
    padding: 29.71px 40.85px;
    color: #36394a;
    font-size: 6.6px;
    font-family: Inter, sans-serif;
    border: 1px solid #687a9c;
    border-radius: 20px;
}

.resume_preview__content {
    display: flex;
}

.resume_preview__content_main_section {
    width: 100%;
    max-width: 264px;
    margin-right: 4.95px;
}

.resume_preview__content_aside_section {
    width: 100%;
    max-width: 140px;
}

