.statistics__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    min-height: 100vh;
    padding: 5% 0;
    background-color: var(--color-input-field-gray);
}

.statistics__view_container {
    display: grid;
    grid-template-rows: 1fr 10fr;
    grid-template-columns: 3fr 1fr;
    row-gap: 30px;
    width: 90%;
    padding: 30px;
    background-color: var(--color-white);
    border-radius: 50px;
}

.statistics__title_container {
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
}

.statistics__dropdown {
    width: 100%;
}

.statistics__column_chart {
    height: 100%;
}

.statistics__select_container {
    width: 90%;
    background-color: var(--color-accent-light-yellow);
    border-radius: 50px;
}

.statistics__select_title {
    padding: 15px 0 10px 50px;
    font-weight: 600;
    font-size: 24px;
}

.statistics__select_hr {
    border: 3px white solid;
}

:is(.statistics__select_arrow, .statistics__select_reverse_arrow) {
    width: 5%;
    min-width: 30px;
    height: 100%;
    min-height: 30px;
    background-color: var(--color-black);
    mask-image: url("../../../assets/img/arrow.svg");
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
    mask-position: center;
    transition: background-color 0.2s ease;
}

.statistics__select_reverse_arrow {
    transform: scaleX(-1);
}

:is(.statistics__select_arrow, .statistics__select_reverse_arrow):hover {
    background-color: var(--color-accent-dark-yellow);
    transition: background-color 0.2s ease;
}

.statistics__select_resume {
    display: flex;
    height: 45vh;
    padding: 30px;
}

.statistics__resumes_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 90%;
    height: 100%;
}
