.statistics__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    background-color: var(--color-input-field-gray);
}

.statistics__view_container {
    display: grid;
    grid-template-rows: 1fr 10fr;
    grid-template-columns: 3fr 1fr;
    row-gap: 30px;
    width: 90%;
    margin-top: 5%;
    padding: 30px;
    background-color: var(--color-white);
    border-radius: 50px;
}

.statistics__title_container {
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
}

.statistics__dropdown {
    width: 100%;
}

.statistics__column_chart {
    height: 100%;
}
