@font-face {
    font-weight: 400;
    font-family: Poppins;
    src: url("../fonts/poppins-regular.woff2") format("woff2");
}

@font-face {
    font-weight: 500;
    font-family: Poppins;
    src: url("../fonts/poppins-medium.woff2") format("woff2");
}

@font-face {
    font-weight: 600;
    font-family: Poppins;
    src: url("../fonts/poppins-semi-bold.woff2") format("woff2");
}

@font-face {
    font-weight: 700;
    font-family: Inter;
    src: url("../fonts/inter-bold.woff2") format("woff2");
}
