@font-face {
    font-weight: 400;
    font-family: Poppins;
    src: url("../fonts/Poppins-Regular.woff2") format("woff2");
}

@font-face {
    font-weight: 500;
    font-family: Poppins;
    src: url("../fonts/Poppins-Medium.woff2") format("woff2");
}

@font-face {
    font-weight: 600;
    font-family: Poppins;
    src: url("../fonts/poppins-semi-bold.woff2") format("woff2");
}

@font-face {
    font-weight: 700;
    font-family: Inter;
    src: url("../fonts/Inter-Bold.woff2") format("woff2");
}
