* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-width: 320px;
    min-height: 100vh;
    margin: 0;
    font-size: 14px;
    font-family: Poppins, sans-serif;
    line-height: 1.5;
    scrollbar-width: thin;
    scrollbar-color: var(--color-background-dark-blue)
        var(--color-background-gray);
}

::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-track {
    background: var(--color-background-gray);
    border-radius: 10px;
    margin-block: 5px;
}

::-webkit-scrollbar-thumb {
    background: var(--color-background-dark-blue);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-background-light-blue);
}

main {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

#root {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

input,
button,
select {
    color: inherit;
    font-family: inherit;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
}
