:root{
    --white: #fff;
    --black: #000;
    --txt-1: #302E36;
    --txt: #434C66;
    --txt-3: #848D96;
    --gray-1: #687A9C;
    --gray-2: #CCD7DC;
    --gray-5: #768FBE;
    --gray-6: #3F557E;
    --gray-7: #EBEFF1;
    --yellow-3: #FDF3D3;
    --yellow-4: #DBAE2D;
}