:root {
    --color-white: #ffffff;
    --color-black: #000000;
    --color-text-black: #302e36;
    --color-text-blue: #434c66;
    --color-text-gray: #848d96;
    --color-background-light-blue: #768fbe;
    --color-background-dark-blue: #687a9c;
    --color-accent-light-yellow: #fdf3d3;
    --color-accent-dark-yellow: #dbae2d;
    --color-box-shadow-button: #d9deeb80;
    --color-divider-blue: #bfeafc;
    --color-error-red: #ff5757;
    --color-disabled-gray: #ccd7dc;
    --color-input-field-gray: #ebeff1;
    --color-hover-blue: #3f557e;
    --color-button-blue: #1a91f0;
    --font-family-main: "Poppins", sans-serif;
    --font-family-logo: "Inter", sans-serif;
    --font-family-resume-buttons: "TT Commons", system-ui;
    --font-weight-logo: 700;
    --font-weight-title: 600;
    --font-weight-subtitle: 500;
    --font-weight-text: 400;
    --font-size-title-h1: 42px;
    --font-size-title-h2: 28px;
    --font-size-title-h3: 22px;
    --font-size-title-h4: 20px;
    --font-size-title-h5: 16px;
    --font-size-subtitle: 16px;
    --font-size-main-text: 14px;
    --font-size-secondary-text: 12px;
}
