:root {
    --color-white: #ffffff;
    --color-black: #000000;
    --color-text-black: #302e36;
    --color-text-blue: #434c66;
    --color-text-dark-blue: #36394a;
    --color-text-gray: #848d96;
    --color-text-light-gray: #86899e;
    --color-text-badge: #666d80;
    --color-text-profile: #222222;
    --color-text-recommendation: #818898;
    --color-text-experience: #666d80;
    --color-background-black: #00000080;
    --color-background-blue: #3f557e;
    --color-background-light-blue: #768fbe;
    --color-background-dark-blue: #687a9c;
    --color-background-bright-blue: #438eff;
    --color-background-gray: #ccd7dc40;
    --color-background-light-gray: #f5f5f5;
    --color-background-light-purple: #9da8ff;
    --color-background-badge: #f6f8fa;
    --color-background-modal: #000000b3;
    --color-background-portfolio: #e5ebf0;
    --color-background-white: #f0f2f8;
    --color-border-light-gray: #eceff3;
    --color-border-panel-gray: #f6f6fb;
    --color-border-gray: #eceef3;
    --color-border-text-editor: #bfc4d3;
    --color-box-shadow: #63636333;
    --color-box-shadow-dark: #0000001a;
    --color-box-shadow-black: #00000029;
    --color-button-hover: #3b3a3a;
    --color-accent-light-yellow: #fdf3d3;
    --color-accent-dark-yellow: #dbae2d;
    --color-box-shadow-button: #d9deeb80;
    --color-accent-yellow: #e3c97e;
    --color-light-gold: #ecc204;
    --color-divider-blue: #bfeafc;
    --color-error-red: #ff5757;
    --color-error-red-bright: #ff0000;
    --color-disabled-gray: #ccd7dc;
    --color-input-field-gray: #ebeff1;
    --dropdown-shadow: 1px 1px 8px -4px #303030;
    --color-input-icon-gray: #858585;
    --color-hover-blue: #3f557e;
    --color-button-blue: #1a91f0;
    --color-label-blue: #313134;
    --color-tooltip-blue: #0000ff;
    --font-family-main: "Poppins", sans-serif;
    --font-family-secondary: "Roboto, sans-serif";
    --font-family-logo: "Inter", sans-serif;
    --font-family-resume-buttons: "TT Commons", system-ui;
    --font-weight-logo: 700;
    --font-weight-title: 600;
    --font-weight-subtitle: 500;
    --font-weight-text: 400;
    --font-size-extra-large: 96px;
    --font-size-large: 64px;
    --font-size-title-h1: 42px;
    --font-size-title-h2: 28px;
    --font-size-title-h3: 22px;
    --font-size-title-h4: 20px;
    --font-size-title-h5: 16px;
    --font-size-subtitle: 16px;
    --font-size-main-text: 14px;
    --font-size-secondary-text: 12px;
}
